table {
    margin-bottom: 10px;
    border: 1px black solid;
    width: 100%;
}

table > tr, td {
    padding-left: 10px;
    padding-right: 10px;
}

#description {
    font-weight: bold;
    font-size: larger;
}

#priority {
    font-style: italic;
}

#due {
    text-align: right;
    font-style: italic;
}