<form [formGroup]="taskForm" class="form" (ngSubmit)="onSubmit()">

    <div class="error" *ngIf="hasErrors && taskForm.get('description')?.hasError('required')">Description is required</div>
    <div class="error" *ngIf="hasErrors && taskForm.get('description')?.hasError('minlength')">Description has to be at least 5 characters</div>

    <div>
        <mat-form-field class="input-field">
            <mat-label>Task Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
    </div>

    <div class="error" *ngIf="hasErrors && taskForm.get('due')?.hasError('required')">Due Date is required</div>
    <div class="error" *ngIf="hasErrors && taskForm.get('due')?.hasError('greaterThanToday')">Due Date cannot be a past date</div>

    <div>
        <mat-form-field class="input-field">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="due">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="error" *ngIf="hasErrors && taskForm.get('priority')?.hasError('required')">Priority is required</div>

    <div>
        <label>Priority:</label>
        <mat-radio-group formControlName="priority">
            <mat-radio-button name="priority" value="low">Low</mat-radio-button>
            <mat-radio-button name="priority" value="medium">Medium</mat-radio-button>
            <mat-radio-button name="priority" value="high">High</mat-radio-button>
        </mat-radio-group>
    </div>

    <div formArrayName="people">
        <div *ngFor="let person of people.controls; let i=index">
          <label for="p-{{ i }}">Person {{ i + 1 }}: </label>
          <input id="p-{{ i }}" type="text" [formControlName]="i">
          <button type="button" (click)="removePerson(i)">X</button>
        </div>
    </div>

    <br>
    <div *ngIf="!editMode">
        <button mat-flat-button color="primary" type="submit">Add Task</button>
        <button type="button" mat-flat-button color="accent" (click)="addPerson()">+ Person</button>

    </div>
    <div *ngIf="editMode">
        <button mat-flat-button color="primary" type="submit">Update</button>
        <button type="button" mat-flat-button color="accent" (click)="addPerson()">+ Person</button>
        <button mat-flat-button color="warn" type="button" (click)="cancelUpdate()">Cancel</button>
    </div>

</form>