<table *ngFor="let task of tasks; let idx = index">
  <tr>
    <td colspan="2" id="description">
      <span [ngClass]="{'completed': task.completed}">{{ task.description | titlecase }}</span>
    </td>
    <td rowspan="2" class="buttons">
      Completed
      <section>
        <mat-checkbox (change)="onComplete(idx)"></mat-checkbox>
      </section>
    </td>
    <td rowspan="2" class="buttons">
      <button mat-fab color="primary" (click)="onEdit(task)" *ngIf="!task.completed">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab [disabled]="true" *ngIf="task.completed">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
    <td rowspan="2" class="buttons">
      <button mat-fab color="warn" (click)="toDelete(idx)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  <tr>
    <td class="left">
      <span [ngClass]="{'completed': task.completed}">{{ task.priority | titlecase }} Priority
        <span *ngFor="let p of task.people">- {{ p.name | titlecase }} </span>
      </span>
    </td>
    <td class="right">
      <span [ngClass]="{'completed': task.completed}">{{ task.due | date : "dd MMM yyyy" }}</span>
    </td>
  </tr>
</table>