* {
    /* border: 1px black solid; */
}

table {
    width: 100%;
    text-align: center;
}

.left {
    font-style: italic;
    text-align: left;
}

.right {
    font-style: italic;
    text-align: right;
    width: 10%;
}

.buttons {
    width: 8%;
}

#description {
    font-size: larger;
    font-weight: bold;
    text-align: left;
    width: 76%;
    word-wrap: break-word;
}

.completed {
    color: grey;
    text-decoration: line-through;
}