<h1>Shop for Fruits and Harold</h1>

<div id="container">

  <div id="left">
    <h2>Inventory</h2>
    <app-inventory
        *ngFor="let i of inventories"
        [imageUrl]="i.url"
        [fruitName]="i.name"
        (onFigureClicked)="handleClick($event)"
    ></app-inventory>
  </div>

  <div id="right">
    <h2>Cart</h2>
    <app-cart
      *ngFor="let f of fruits, let idx = index"
      [fruitName]="f"
      [idx]="idx + 1"
      (removeItem)="handleRemove(idx)"
    ></app-cart>
  </div>

</div>