<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="processUserForm()">

        <div class="mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname">

            <div class="alert alert-danger" *ngIf="userForm.get('firstname')?.hasError('required')">
                First Name is mandatory
            </div>
            <div class="alert alert-danger" *ngIf="userForm.get('firstname')?.hasError('minlength')">
                First Name should be at least 5 characters long
            </div>
        </div>

        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">

            <div class="alert alert-danger" *ngIf="userForm.get('lastname')?.hasError('required')">
                Last Name is mandatory
            </div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        
            <div class="alert alert-danger" *ngIf="userForm.get('email')?.hasError('required')">
                Email is mandatory
            </div>
            <div class="alert alert-danger" *ngIf="userForm.get('email')?.hasError('email')">
                Email is in incorrect format
            </div>
            <div class="alert alert-danger" *ngIf="userForm.get('email')?.hasError('nonWhiteSpace')">
                Email should not have white spaces
            </div>
        </div>

        <div class="mb-3">
            <div class="mb-3">
                <button type="button" class="btn btn-success" (click)="addNewFood()">Add New Favourite Food</button>
            </div>

            <div class="mb-3" formArrayName="food">
                <table>
                    <thead><tr><td>Food Name</td></tr></thead>
                    <tbody>
                        <tr *ngFor="let food of foodArray.controls; let i = index" [formGroup]="food1">
                            <td>
                                <input type="text" class="form-control" name="f1" formControlName="f1">
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary" (click)="removeFood(i)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>

        </div>

        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>

    </form>
</div>