#container {
    width: 100%;
    background-color: #ffcc33;
    margin: auto;
}
#left {
    width: 50%;
    float: left;
    height: 300px;
}
#right {
    width: 50%;
    float: left;
    height: 300px;
}