#container {
    width: 100%;
    background-color: #ffcc33;
    margin: auto;
}
#left {
    width: 70%;
    float: left;
    height: 300px;
}
#right {
    width: 30%;
    float: left;
    height: 300px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}