<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <tr>
            <td>Title</td>
            <td><span th:text="${title}"></span></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><span th:text="${description}"></span></td>
        </tr>
        <tr>
            <td>Original Filename</td>
            <td><span th:text="${originalFilename}"></span></td>
        </tr>
        <tr>
            <td>Size</td>
            <td><span th:text="${size}"></span></td>
        </tr>
        <tr>
            <td>Content Type</td>
            <td><span th:text="${contentType}"></span></td>
        </tr>
        <tr>
            <td>Url</td>
            <td>
                <img th:src="${url}">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><a href="/">Back</a></td>
        </tr>
    </table>

</body>
</html>